*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial;
}
body{
    background-image: url('../assets/show.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vw;
    width: 100vh;
    color: white;
    user-select: none;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    
}
h1{
    font-size: 50px;
    margin: 8px ;
}
section{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
section div{
    margin: 18px
}
.container{
    background-color: #00000080;
    height: 100vw;
    width: 100vh;
}
