*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
body{
    background-color: rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 111, 209);
    padding: .5em;
    width: 400px;
    height: 400px;
    border:8px;
    border-radius: 6px;
}

.entradaUser{
   padding: 16px;
    margin: 12px;
    overflow-wrap: break-word;
   min-height: 1.6em;
   background-color:rgb(255, 255, 255) ;
}

.tecladoNum{
   padding: .2em;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 3px;
}
.tecladoNum button{
    cursor: pointer;
    height: 3em;
    font-size: 1.2em;
}
.tecladoNum button:hover{
    color: white;
    background-color: black;
}