*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 111, 209);
    width: 400px;
    color: white;
    border:8px;
    border-radius: 6px;
}

.entradaUser{
    background-color:black ;
    justify-content: center;
    padding: 16px;
    margin: 12px;
    width: 100%;
    height: 100px;
}

.tecladoNum{
    width: 50px;
    height: 40px;
}