.container{
    background-color: rgb(172, 102, 238);
    margin: 16px;
    padding: 16px;
    width: 500px;
    height: 400px;  
    color: white;
    border-radius: 8px;
    
}
.title{
    justify-content: center;
    display: flex;
}
footer{
    justify-content: center;
    display:flex;
    position: relative;
    top: 90px;
    
}
.areatabuada{
    margin: 8px;
    width: 80%;
    height: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 16px;
}
label.nome{
    color: black;
    margin: 8px;
}
fieldset{
    padding: 16px;
    justify-content: space-between;
    display: flex;
    margin: 8px;
    gap:8px;
}

#buttonTabuada{
    color: rgb(172, 102, 238);
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 999px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    /*margin: 16px;*/
}

#buttonTabuada:hover{
    background:rgb(172, 102, 238);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
select{
    margin: 8px;
    display: flex;
    flex-direction: column;
}
